/* Reset default browser styles */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face {
  font-family: 'ArtegraSansCn-Medium';
  src: url('ArtegraSansCn-Medium.woff2') format('woff2'), /* First, try loading the .woff2 font */
       url('ArtegraSansCn-Medium.woff') format('woff'); /* Fallback to .woff if .woff2 is not supported */
  font-weight: 500; /* Medium weight */
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Base styles */
body {
  font-family: Open Sans,sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #757575;
  background-color: #f7f7f7;
}

article {
  max-width: 800px;
  margin: 20px auto;
}

header {
  margin: 20px;
  padding-left: 20px;
}

.header {
  margin: 40px;  /* For backwards compatibility. Delete this eventually */
}

footer {
  max-width: 800px;
  margin: 0 auto 50px;
  text-align: center;
}

.skell-e-sig {
  font-family: 'ArtegraSansCn-Medium', verdana;
  font-size: 1.25em;
  color: #999;
}

.container {
  background: #fff;
  margin: 0;
  padding: 40px;
  box-shadow: 0 8px 40px #00000014;
  border-radius: 10px;
}

.container > h2:first-of-type {
  margin-top: 0;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  margin-bottom: 10px;
  color: #242424;
  font-weight: 600;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
}

h2 {
  font-size: 1.75em;
  margin-top: 30px;
}

h3 {
  font-size: 1.25em;
  color: #555
}

h4 {
  font-size: 1.1em;
  color: #555;
  font-weight: 700;
}

h5 {
  font-size: 1em;
  color: #757575;
  font-weight: 600;
}

h6 {
  font-size: 1em;
  color: #757575;
  font-weight: 600;
  font-style: italic;
}

/* Paragraphs */
p {
  margin-bottom: 15px;
}

p strong, p b {
  color: #555;
}

/* Lists */
ul, ol {
  margin-bottom: 15px;
  padding-left: 30px;
}

li {
  margin-bottom: 5px;
}

/* Links */
a {
  color: #fe5b50;
  text-decoration: none;
}

a:hover {
  color: #eb3329;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
}

/* Blockquotes */
blockquote {
  margin: 20px 0;
  padding: 10px 20px;
  border-left: 5px solid #ccc;
  font-style: italic;
}

/* Code blocks */
pre {
  background-color: #f4f4f4;
  padding: 10px;
  overflow-x: auto;
  margin-bottom: 15px;
}

code {
  font-family: monospace;
}

/* Tables */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 15px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

th {
  background-color: #f2f2f2;
}


/* Button */
.button {
  display: inline-block;
  padding: 5px 20px;
  background-color: #fe5b50;
  color: #fff;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: #eb3329;
  color: #fff
}

.copy-link {
  width: 115px
}


/* Responsive styles */
@media screen and (max-width: 600px) {

  header{
    padding-left: 0
  }

  .container {
    margin: 0 -20px;
    padding: 40px;
    box-shadow: 0 8px 40px #00000014;
    border-radius: 0px;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.75em;
  }

  h3 {
    font-size: 1.5em;
  }

  h4 {
    font-size: 1.25em;
  }

  h5 {
    font-size: 1em;
  }

  h6 {
    font-size: 0.9em;
  }
}
